body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: right;
    padding: 20px;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background-color: #cdcdcd;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 20px;
    margin: 0% 19%; 
    height: 118px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0px 20px;
    background-color: rgb(255, 136, 136);
    border-radius: 10px;
    margin: 0px 20px;
}

nav ul li a {
    color: rgb(0, 85, 254);
    text-decoration: none;
    font-family: delbar;
    font-size: .8em;
}


.table-container {
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 10px 0px;
    transition: 200ms;
}
table:hover {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 10px 0px;
    transform: translateY(-2px);
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}
th {
    background-color: #e7e7e7;
}
input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 0.1px solid #ffcaf6;
    font-family: delbar;
}
.button-container {
    text-align: center;
    margin-top: 20px;

}
.button {
    padding: 1px 15px;
    font-size: 0.9em;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: 200ms;
    font-family: delbar;
    width: 25%;
    
}
.button:hover {
    background-color: #45a049;
    box-shadow: 0px 0px 5px black;
    transform: translateY(-2px);
}
h2 {
    text-align: center;
    margin-top: 20px;
}
#button_x {
    padding: 2.5px 5px;
    margin: 5px;
    background-color: #ff0000;
    color: rgb(243, 243, 243);
    border: none;
    cursor: pointer;
    border-radius: 100px;
    transition: 200ms;
}

#button_x:hover{
    box-shadow: 0px 0px 5px black;
    transform: translateY(-2px);
}

p{
    font-family: delbar;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 20px;
    margin: 0% 20%;
    text-align: center;
}
.about-link{
    font-family: delbar;
    background-color: #d9d9d9;
    border-radius: 10px;
    margin: 4% 20%;
    text-align: center;
}
footer h1{
    background-color: #cdcdcd;
    text-align: center;
    border-radius: 10px;
    margin: 4% 20%;
}

@media (max-width: 768px) {
    .table-container {
        width: 100%;
    }
    th, td {
        font-size: 0.8em;
        padding: 5px;
    }
    .button {
        padding: 1px 15px;
        font-size: 0.9em;
        border-radius: 50px;
        font-family: delbar;
        width: 45%;
    }
    input[type="text"], input[type="number"] {
        width: 100%;
        font-size: 0.9em;
        text-align: center;
    }

    header {
        background-color: #cdcdcd;
        color: rgb(0, 0, 0);
        padding: 5px;
        text-align: center;
        border-radius: 30px;
        margin: 0% 0%; 
    }
    p{
        font-family: delbar;
        background-color: #d9d9d9;
        border-radius: 10px;
        padding: 20px;
        margin: 0%;
    }
    .about-link{
        font-family: delbar;
        background-color: #d9d9d9;
        border-radius: 10px;
        margin: 4% 0%;
        text-align: center;
    }
    footer h1{
        background-color: #cdcdcd;
        text-align: center;
        border-radius: 10px;
        margin: 4% 0%;
    }
}
@font-face {
    font-family: "delbar";
    src: url("./ttf/delbar.ttf");
}
.txt {
    font-family: delbar;
}
#gpaResult {
    font-family: delbar;
}


.footer-txt{
    font-family: delbar;
    margin: 0px 0px 0px 0px;
}

a img{
    display: block;
    width: 30%;
    margin: auto;
}
